* {
    box-sizing: border-box;
}

body {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 175%;
    text-align: center;
}

h2 {
    font-size: 125%;
    text-align: center;
    width: 120px;
    padding: 3px;
    margin: 0px;
    margin-bottom: 5px;
    border: 1px solid black;
    position: relative;
    float: right;
}

p {
    clear: right;
    padding: 10px;
}

section {
    background-color: gray;
    width: 400px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid black;
  }

#section1 > h2 {
    background-color: pink;
}

#section2 > h2{
    background-color: rgb(173, 45, 45);
    color: white;
}

#section3> h2 {
    background-color: rgb(142, 196, 142);
}
